.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.env/
.venv/
.ipynb_checkpoints/
.vscode/
data/
*.csv
*.tsv
*.xlsx
*.parquet
*.feather
*.h5
*.joblib
*.pkl
*.pth
*.pt
*.log
Thumbs.db
ehthumbs.db
Icon?